@charset "utf-8";

/* 全称セレクタ */
/* ユニバーサルセレクタ */
/* すべての要素に対して */
* {
	box-sizing: border-box;
	/* ボックスの計算方法 罫線込み */
	/* 初期値→content-box */
}

/* ルートでフォントサイズを基準の16pxで使用する */
html {
	font-size: 100%;
}

html {
	scroll-behavior: smooth;
}

/* ページの背景色 */
body {
	margin: 0;
	background-color: #bf2f35;
	color: #517573;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}


/* アンカー文字の初期指定 */
a {
	color: #517573;
	text-decoration: none;
}

/* classセレクタ */
/* うちわくの設定（横幅８０％で中央に寄せる） */
.wrapper {
	width: 95%;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #bf2f35;
	background-repeat: repeat-x;
	width: 100%;
	height: 80px;
	z-index: 9999;
}


/* ロゴの設定 */

.logo {
	width: 210px;
}


/* Slider Start */
/* スライダー設置エリア */
/* padding-topはスライド画像(1200 * 740)のアスペクト値 */
/* アスペクト比は60:37なので、37 / 60 * 100で61.667%の値を指定 */
/* スライド画像を配置する基準に・横幅100%・はみ出す部分を隠す */
#slider-area {
	margin-top: 80px;
	position: relative;
	padding-top: 48.4803%;
	width: 100%;
	overflow: hidden;
}



/* スライダー画像 */
/* 上端と左端から50%のところに絶対配置 */
/* レスポンシブ対応済 */
#slider-area img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	opacity: 0;
	animation: slide-anime 8s 0s infinite;
}

/* スライド画像2枚目の表示タイミング */
#slider-area img:nth-of-type(2) {
	animation-delay: 4s;
}

/* アニメーションの流れ(opacity→透明度) */
/* 0%・50%・100%のタイミングに記述 */
@keyframes slide-anime {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Slider End */

#main-nav .menu {
	display: flex;
}

#main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	align-items: center;
	color: #000;
}

#main-nav li {
	color: #FFF;
}

#main-nav li a {
	color: #FFF;
}

/* a:hover←疑似クラス */
/* マウスが当たった時の指定 */
#main-nav a:hover {
	text-decoration: underline;
}

/* メインとアサイドの土台 */
#container {
	background-color: #FFF;
	margin: 50px auto;
	padding: 15px;
	width: 95%;
	border-radius: 5px;
}

#mbox {
	margin-top: 120px;
}

.p-title {
	margin-top: 220px;
}



/* 画像の表示設定（エリア内に収める */
img {
	max-width: 100%;
	width: 100%;
	border-radius: 5px;
}

header .wrapper {
	height: 80px;
	display: flex;
	align-items: center;
}

h1 {
	margin: 0;
	display: flex;
	align-items: center;
}




h1 a {
	margin: 0;
	display: flex;
	align-items: center;
}

h1 img {
	margin: 0;
	width: 210px;
}

h2 {
	border-radius: 10px;
	color: #bf2f35;
	text-indent: 0.5em;
	margin-bottom: 10px;
	font-size: 2rem;
	margin: 0;
}

h3 {
	color: #bf2f35;
	text-indent: 0.5em;
	margin-bottom: 10px;
	font-size: 1.5rem;
	margin: 0;
}

.hpadd {
	padding-top: 40px;
}

/* 定義リストの外枠 */
dl {
	width: 80%;
	margin: 0 auto;
	/* border: 5px solid #000; */
}

dt,
dd {
	border-bottom: 1px dashed #517573;
	color: #517573;
}

/* 左余を内余白にして下罫線を表示 */
dd {
	margin-left: 0;
	padding-left: 40px;
}

/* ddの最後のみ、下罫線なし */
/*
	dd:last-of-type {
	border-bottom: none;
}
*/






/* テーブル内の画像は丸めなし */
#truffle table img {
	border-radius: 0;
}


/* 属性セレクタ */
input[type="text"],
input[type="password"],
textarea {
	width: 100%;
}

/* テキストエリアをリサイズさせない */
textarea {
	resize: none;
}

/* フォーム用テキストの6番目の行にあるtdを指定 */
/* 下に表示されるナゾの余白をなくす */
#form-parts tr:nth-of-type(6) td {
	line-height: 0;
}

aside {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 99999;
}

/* チェックマーク非表示 */
#open-close {
	display: none;
}

/* ハンバーガーアイコンの土台 */
aside label {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #FFF;
	border-radius: 5px;
	cursor: pointer;
}

/* 三本線 */
aside span {
	position: absolute;
	display: block;
	width: 100%;
}


/* サブナビの初期表示（リスト見せない） */
#sub-nav {
	position: fixed;
	top: 80px;
	left: 0px;
	z-index: 999;
	width: 70%;
	background-color: #FFF;
	transition: all 1s 0s linear;
	transform: translateX(-110%);
}





/* チェックがONの時のサブナビ（ふわっと出てくる） */
/* !important無理やり他のCSSをキャンセルして実行 */
.show {
	transition: all 1s 0s linear !important;
	transform: translateX(0%) !important;
}




#sub-nav ul {
	list-style-type: none;
	padding: 10px;
}

.manu2 {
	display: none;
	margin-left: 10px;
	padding-left: 10px;
}



/* サブナビのメニューデザイン(li) */
#sub-nav ul a {
	position: relative;
	background-color: #bf2f35;
	display: block;
	padding: .5rem 1rem;
	border-radius: 20px;
	margin: 1rem 0;
	color: #FFF;
}

/* 親ナビゲーションの設定 */
#nav1_parent {
	position: relative;
	background-color: #bf2f35;
	display: block;
	padding: .5rem 1rem;
	border-radius: 20px;
	margin: 1rem 0;
	color: #FFF;
}

#nav1_parent2 {
	position: relative;
	background-color: #bf2f35;
	display: block;
	padding: .5rem 1rem;
	border-radius: 20px;
	margin: 1rem 0;
	color: #FFF;
}

/* 親ナビの端にアイコンフォント設置 */
#sub-nav #nav1_parent::after {
	position: absolute;
	top: calc(50% - 0.5em);
	right: 0.5em;
	font-family: "Font Awesome 6 Free";
	content: "\f055";
	font-weight: 700;
}

#sub-nav #nav1_parent2::after {
	position: absolute;
	top: calc(50% - 0.5em);
	right: 0.5em;
	font-family: "Font Awesome 6 Free";
	content: "\f055";
	font-weight: 700;
}


#child-nav li {
	margin-left: 20px;
}

.child-nav-close {
	display: none;
}

.child-nav-close2 {
	display: none;
}


#child-nav2 li {
	margin-left: 20px;
}



/* メニューの端にアイコンフォント設置 */
#sub-nav ul a::after {
	position: absolute;
	top: calc(50% - 0.5em);
	right: 0.5em;
	font-family: "Font Awesome 6 Free";
	content: "\f138";
	font-weight: 700;
}


#sub-nav ul a:hover {
	background-color: #FFF;
	box-shadow: 1px 1px 2px #aaa inset;
	color: #bf2f35;
}

footer {
	text-align: center;
}

/*ページ上部へ飛ばすボタン*/
#gotop a {
	position: fixed;
	right: 50px;
	bottom: 0;
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #FFF;
	border-radius: 30px 30px 0 0;
}


/* conceptの中央寄せ */
#concept {
	font-size: 1.3rem;
	padding: 0 20px 5px 20px;
}


.container2 {
	background-color: #FFF;
	color: #bf2f35;
	margin: 30px auto;
	padding: 30px 0 50px 0;
	width: 100%;
	border-radius: 5px;
}



.container2 article {
	background-color: #FFF;
	border: 3px solid #bf2f35;
	margin: 0 auto;
	width: 95%;
	padding: 0;
	padding: 20px;
}

.container2 h2 {
	background-color: #FFF;
	color: #bf2f35;
	margin: 0 auto;
	width: 95%;
}

.container2 p {

	color: #bf2f35;
	font-size: 1.3rem;
	width: 100%;
	margin-bottom: 10px;
}

.container3 {
	margin: 30px auto;
	padding-bottom: 30px;
}

.container3 article {
	background-color: #FFF;
	border: 3px solid #FFF;
	color: #bf2f35;
	margin: 0 auto;
	width: 95%;
	padding: 20px;
}

.container3 h2 {
	background-color: #bf2f35;
	color: #FFF;
	margin: 0 auto;
	width: 95%;
}

.container3 p {

	color: #bf2f35;
	font-size: 1.3rem;
	width: 100%;
	margin-bottom: 10px;
}




/* Menuはじまり
----------------------------------------- */
/* menu.html用の背景画像(高さ270px・下外余白40px) */
#menu {
	background-image: url(../images/menu-bg.jpg);
	height: 270px;
	margin-bottom: 40px;
}

/* MENUの文字中央揃え */
#menu .page-title {
	text-align: center;
}

/* 見出し文字下の段落(フォントサイズと外余白) */
#menu p {
	font-size: 1.125rem;
	margin: 10px 30px 0;
	text-shadow: 1px 1px 1px #fff;
}

/* グリッドレイアウト */
/* グリッドアイテム間の余白と並べ方 */
.grid {
	display: grid;
	gap: 26px;
	/* grid-template-columns: 1fr 1fr 1fr; */
	/* grid-template-columns: repeat(3, 1fr); */
	/* grid-template-columns: repeat(3, minmax(240px, 1fr)); */
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	margin-top: 6%;
	margin-bottom: 50px;
}

/* modal Start------------------------------ */
/* モーダルウィンドウの外側(余白っぽい)部分 */
.modal-wrapper {
	position: fixed;
	top: 80px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	padding: 40px 10px;
	text-align: center;
}

/* モーダルボタン(通常時・背景色と文字色と指カーソル) */
.modal-button {
	color: #0090aa;
	background-color: #eee;
	cursor: pointer;
}

/* モーダルウィンドウがターゲットでないとき(透明化に) */
.modal-wrapper:not(:target) {
	opacity: 0;
	visibility: hidden;
}

/* モーダルウィンドウがターゲットになったとき(見える化) */
.modal-wrapper:target {
	opacity: 1;
	visibility: visible;
}

/* モーダルウィンドウが全画面表示のときのデザイン */
.modal-wrapper .modal-window {
	display: inline-block;
	z-index: 20;
	position: relative;
	width: 70%;
	max-width: 430px;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
	/* vertical-align: middle; */
}

/* モーダルウィンドウ内の本体部分デザイン */
.modal-wrapper .modal-window .modal-content {
	max-height: 100vh;
	overflow-y: auto;
	text-align: left;
}

/* モーダルウィンドウのタイトル */
.modal_title {
	font-size: 1.5rem;
}

/* モーダルウィンドウの段落 */
.modal-content p {
	margin: 10px 0 0 0;
}

/* モーダルウィンドウ回りの黒背景 */
.modal-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

/* iタグで埋め込んだ×印(通常時) */
.modal-wrapper .modal-close {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 35px;
	color: #95979c;
	font-size: 30px;
	font-weight: 700;
}

/* iタグで埋め込んだ×印(マウスホバー時・色変更) */
.modal-wrapper .modal-close:hover {
	color: #2b2e38;

}

/* modal End------------------------------ */

.container2 dl {
	margin-bottom: 20px;
}

/* メニュー終わり */

/* グリッドレイアウト2列 */
/* グリッドアイテム間の余白と並べ方 */
.img-2cr {

	display: grid;
	gap: 20px;
	/* grid-template-columns: 1fr 1fr 1fr; */
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}


/* 店長のレイアウト始まり */

/* 店舗情報・地図エリア */
#location {
	background-color: #FFF;
	padding: 4% 0;
}

/* 店舗情報と地図を両端のくっついた横並び */
#location .wrapper {
	display: flex;
	justify-content: space-between;
}

/* 店舗情報エリアの横幅22% */
.location-info {
	width: 22%;
}

/* 店舗情報の段落(上下・左右の内余白) */
.location-info p {
	padding: 12px 10px;
}

/* 地図エリアの横幅74% */
.location-map {
	width: 74%;
}

/* iframe */
/* 地図エリアの中にirameがおさまるようにする */
iframe {
	width: 100%;
}

/* 店長のレイアウト終わり */



/* マップのレイアウト始まり */

/* 店舗情報・地図エリア */
#location {
	background-color: #FFF;
	padding: 4% 0;
}

/* 店舗情報と地図を両端のくっついた横並び */
#location .wrapper {
	display: flex;
	justify-content: space-between;
}

/* 店舗情報エリアの横幅22% */
.location-info {
	width: 22%;
}

/* 店舗情報の段落(上下・左右の内余白) */
.location-info p {
	padding: 12px 10px;
}

/* 地図エリアの横幅74% */
.location-map {
	width: 74%;
}

/* iframe */
/* 地図エリアの中にirameがおさまるようにする */
iframe {
	width: 100%;
}

/* マップのレイアウト終わり */

/* コンタクトページ始まり */

.button {
	font-size: 1.375rem;
	background-color: #0bd;
	color: #fff;
	border-radius: 5px;
	padding: 18px 32px;
}

/* フォームエリアの下余白 */
form {
	margin-bottom: 20px;
}

/* フォームエリア内divの外下余白 */
form div {
	margin-bottom: 14px;
}

/* フォームラベル(フォントサイズ・外下余白・ブロック扱い) */
label {
	font-size: 1.125rem;
	margin-bottom: 10px;
	display: block;
}

/* inputとテキストエリア(背景色・罫線・角丸め・内余白) */
input[type="text"],
input[type="email"],
textarea {
	background-color: rgba(250, 247, 240, 0.5);
	border: 1px solid #5a5853;
	border-radius: 5px;
	padding: 10px;
	font-size: 1rem;
}

/* input(横幅指定) */
input[type="text"],
input[type="email"] {
	width: 100%;
	max-width: 240px;
}

/* テキストエリア(横幅と高さ指定) */
textarea {
	width: 100%;
	max-width: 480px;
	height: 6rem;
	resize: none;
}

/* 送信ボタン(罫線なし・行高調整) */
input[type="submit"] {
	border: none;
	line-height: 1;
	background-color: #bf2f35;
}

/* コンタクトページ終わり */

/* ページ内リンクずれ直し */
a.jump_point {
	height: 1px;
	display: block;
	padding-top: 40px;
	margin-top: -40px;
}

/* ここからポップアップ */
.popup {
	/* display: none; */
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
}

.content {
	background: #fff;
	margin: 0 auto;
	margin-top: 80px;
	padding: 30px;
	width: 70%;
}


/* ここまでポップアップ */

/* ブラウザが最小幅600pxを超えたときのデザイン */

@media (max-width: 600px) {

	/* メインナビをけす */
	#main-nav {
		display: none;
	}

	/* 地図エリアをflexの縦置き */
	#location .wrapper {
		flex-direction: column;
	}

	/* 地図の文字情報とマップを横幅100％ */

	.location-map,
	.location-info {
		width: 100%;
	}

}

/* ここからスライダーCSS */
#wrap img {
	width: 100%;
	height: auto;
}

#wrap {
	margin-top: 80px;
	width: 100%;
	position: relative;
	height: auto;
}

.bigimg-area {
	width: 100%;
	position: relative;
	height: auto;
}

.finder {
	overflow: hidden;
	width: 100%;
	height: auto;
}


.image-box {
	width: 100%;
	display: flex;
	height: auto;
}


.image-box img {
	flex-shrink: 0;
}

.contents {
	width: 100%;
	margin: 0 auto;
	height: auto;
}

/* ここまでスライダーCSS */




/* ブラウザが最小幅600pxを超えたときのデザイン */
@media (min-width: 600px) {

	/* メインとアサイドの土台 */
	#container {
		background-color: #FFF;
		margin: 15px auto;
		padding: 15px;
		width: 80%;
		border-radius: 5px;
	}

	.container2 {
		background-color: #FFF;
		color: #bf2f35;
		margin: 30px auto;
		padding: 30px 0 50px 0;
		width: 100%;
		border-radius: 5px;
	}

	.container3 {
		margin: 30px auto;
		padding-bottom: 30px;
	}

	.container2 article {
		background-color: #FFF;
		border: 3px solid #bf2f35;
		margin: 0 auto;
		width: 80%;
		padding: 20px;
	}

	.container2 h2 {
		background-color: #FFF;
		color: #bf2f35;
		margin: 0 auto;
		width: 80%;
	}

	.container3 article {
		background-color: #FFF;
		border: 3px solid #FFF;
		color: #bf2f35;
		margin: 0 auto;
		width: 80%;
		padding: 20px;
	}

	.container3 h2 {
		background-color: #bf2f35;
		color: #FFF;
		margin: 0 auto;
		width: 80%;
	}

	.wrapper {
		width: 80%;
		margin: 0 auto;
	}


	/* header内にあるwrapperクラスの設定 */
	/* 子孫セレクタ */
	header .wrapper {
		display: flex;
		justify-content: space-between;
	}

	#main-nav {
		width: 50%;
	}

	#container {
		display: flex;
		justify-content: space-between;
	}

	main {
		background-color: #FFF;
		order: 1;
		width: 100%;
	}

	dl {
		display: flex;
		flex-wrap: wrap;
	}


	dt {
		width: 300px;
	}

	/* dl(親要素）の横幅 - dtの横幅 */
	/* dd自体は可変状態になる */
	dd {
		width: calc(100% - 300px);
	}

	/*
	dt:last-of-type {
		border:none;
	}
	*/


	/*
	dd:nth-of-type(odd) {
		background-color: lightyellow;
	}
	*/


	/* テーブルセルの扱いにする */
	#form-parts th,
	#form-parts td {
		display: table-cell;
	}

	aside {
		display: none;
		position: static;
		background-color: lightyellow;
		order: 0;
		width: 0%;
	}

	aside label {
		display: none;
	}

	#open-close~#sub-nav {
		transition: unset;
		transform: unset;
	}

	#sub-nav {
		position: static;
		width: 100%;
	}

	footer {
		text-align: right;
	}



	/* スライダー設定 */
	.contents {
		width: 80%;
		margin: 0 auto;
		height: auto;
	}


	/* ここからドロップダウンメニュー */

	/* .menu {
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
	color: #fff;
	padding: 0;
} */

	/* .menu li {
	position: relative;
	width: 100px;
	margin-left: 1px;
	padding: 5px;
	background: #444444;
} */

	.menuSub {
		position: absolute;
		margin-left: -6px;
		padding: 0;
		display: none;
		flex-direction: column;
		height: 24px;
	}

	.menuSub li a {

		margin-left: -5px;
		margin-right: -5px;
		padding-left: 5px;
		padding-right: 5px;
		display: block;
		color: #fff;
		text-decoration: none;
		background: #bf2f35;
	}

	.menuSub li a:hover {
		background: #517573;
	}

	/* ここまでドロップダウンメニュー */

}

/* @media End */